---
# .clang-tidy defines predetermined static analysis checks that will be run
# by clang-tidy, a program provided by the LLVM suite. Run these checks by
# running 'gojo check' at the project root. Make sure clang-tidy is installed
# on your system and enabled in your .gojo config file.
#
# See the whole list of available checks here:
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-do-while,
  misc-*
#
# Set any of the checks above to be treated as errors instead of warnings.
# Must be in the list defined above.
WarningsAsErrors: ''
#
# Header files to be checked. By default, only source files are checked 
# by clang-tidy. For example:
# '.*' checks every single header file included in your project excluding
#      system headers
# 'include/.*|src/.*' checks any header files in the 'include' or 'src'
#                     directories
HeaderFilterRegex: 'src/.*'
#
# Turns on colors in the terminal output.
UseColor: true